<div id='map-nav-bar' >
<ul>
  <li>
    <%= link_to 'Penlake Map', penlakemap_path %>
  </li>
 <li>
   <%= link_to 'About', penlakemap_about_path %>
 </li>
 <li>
   <a href="http://scanningpages.wordpress.com/tag/penlakemap">Blog</a>
 </li>
</ul>

</div>
