<h1>Peninsula Lake, Huntsville Ontario</h1>
<%= render "map" %>
<div class="text-block"> 
<h1>Downloads</h1>
<ul>
<li> <a href="http://sourceforge.net/projects/penlakemap/files/penlake.2012.05.svg/download">May 2012 - SVG</a></li>
<li> <a href="http://sourceforge.net/projects/penlakemap/files/penlake.2012.05.pdf/download"</a> May 2012 - PDF</a></li>
<li> <a href="https://scanningpages.files.wordpress.com/2012/05/penlake-2012-05.png">May 2012 - PNG</a></li>
</ul>

</div>
