<div id='map-nav-bar' >
<ul>
  <li>
    <%= link_to 'PGCon Map', pgconmap_path %>
  </li>
 <li>
   <%= link_to 'About', pgconmap_about_path %>
 </li>
 <li>
   <%= link_to 'Points of Interest', pgconmap_interest_path %>
 </li>
</ul>

</div>
