<%= render "map" %>
<div class="text-block"> 
<h1>About</h1>

Burlington/Oakville Recreation</a> is a map of recreational facilities in Burlington and Oakville, Ontario.

<p>
This map shows recreational facilities in these communities.

</div>
